:root {
    --gradient: linear-gradient(to left top, white, white) !important;
  }
  
  body {
    background: #6B728E;
  }
  
  .card {
    background: #393053;
    border: 1px solid white;
    color: rgba(250, 250, 250, 0.8);
    margin-bottom: 2rem;
  }
  
  .btn {
    border: 5px solid;
    border-image-slice: 1;
    -webkit-background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
    border-image-source:  var(--gradient) !important; 
    text-decoration: none;
    transition: all .4s ease;
  }
  
